#page_num {
  font-variant-numeric: tabular-nums;
  font-weight: bold;
}

.control-label {
  font-size: 11px;
  text-transform: uppercase;
  color: var(--color-text-secondary);
  font-weight: bold;
  display: block;
}

.control-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 10px;
  padding: 0px 10px;
  gap: 10px;
  border: 1px solid var(--color-border);
  border-radius: 10px;
}

.control-row:last-child {
  margin-bottom: 0;
}

.control-row span {
  font-family: monospace;
  font-weight: bold;
  min-width: 60px;
  text-align: center;
}

#viewerHeader .pdf-controls-box {
  margin-left: 12px;
}