/* Base styles */
html {
  font-size: var(--font-size-base);
  font-family: var(--font-family-base);
  line-height: var(--line-height-normal);
  color: var(--color-text);
  background-color: var(--color-background);
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* overflow: hidden; */
}

body {
  margin: 0;
  height: 100vh;
  /* Fixed height to constrain children */
  width: 100vw;
  overflow: hidden;
  /* No scroll on body itself */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: var(--color-text);
  background-color: var(--color-background);
  font-family: var(--font-family-base);
  cursor: default;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

label {
  cursor: default;
}